.section {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  break-inside: avoid;
  

  &__title {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }

  // make it pre
  &__declarations {
    font-family: monospace;
    color: #333;
    background-color: #f8f8f8;
    padding: 0.5rem;
    white-space: pre-wrap;
  }

  &__examples {
    display: grid;
    grid-template-columns: [bem-start] auto [bem-end] 1rem [either-or-start] auto [either-or-end] 0.3rem [classes-start] minmax(0, 1fr) [classes-end];

    &--no-either-or-column {
	    grid-template-columns: [bem-start] auto [bem-end] 1rem [either-or-start] 0 [either-or-end] 0.3rem [classes-start] minmax(0, 1fr) [classes-end];
    }
  }

  &__examples-title {
    margin-top: 2rem;
    font-weight: bold;

    &--code {
      grid-column: bem-start / bem-end;
    }

    &--classes {
      grid-column: classes-start / classes-end;
    }
  }
}
